* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

img {
  /* set width to max of parent element */
  max-width: 100%;
  /* max-height: 80%; */
}
p {
  /* center text horizontal and vertical */
  text-align: center;
  line-height: 100px;
}

/* add space either side */
/* .container {
  display: grid;
  grid-template: ". image-grid ." auto / 100px 1fr 100px;
} */

/* create a grid that resizes automatically according to the number of child elements */
.image-grid {
  grid-area: image-grid;
  margin: 10px;
  display: grid;
  gap: 10px;
  /* grid-template-columns:
   repeat(auto-fit, minmax(340px, auto)); */
 /* grid-auto-rows: 500px; */

  grid-template-columns:
    repeat(auto-fit, 340px);
  grid-auto-rows: 400px;
}

.card {
  background-color: orange;
  padding: 20px;
  border: black solid 1px;
}

.card:hover {
  opacity: 0.7;
}
