* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.game {
    position: relative;
    width: 920px;
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-auto-rows: 300px;
    gap: 10px;
}

.cell {
    background-color: #3535ec;
}

.symbol {
    color: white;
    text-align: center;
    line-height: 260px;
    font-size: 200px;
}

.banner {
    position: absolute;
    margin-left: -140px;
    margin-top: 250px;
    width: 1200px;
    height: 400px;
    background-color: red;
    opacity: 85%;
}
  
.banner h1 {
    color: white;
    text-align: center;
    font-size: 100px;
    line-height: 400px;
}
