/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */


.rettangolo {
    width: 500px;
    height: 300px;
    background-color: red;

    /* border-width: 3px;
    border-style: solid;
    border-color: black; */

    /* facciamo vedere lo shorthand */
    /* border: 3px solid black; */

    /* facciamo vedere che si può impostare anche solo un lato alla volta (?)*/
    /* border-top: 1px solid black;
    border-right: 3px solid black;
    border-bottom: 5px solid black;
    border-left: 3px solid black; */

    /* facciamo vedere come gestire le proprietà usando più valori */
    border-style: solid dashed;
    border-width: 2px 5px 10px;
    border-color: blue orange purple green;

    border-radius: 10px;

    /* facciamo vedere il margin */
    /* margin: 50px; */

    /* facciamo vedere la centratura orizzontale */
    /* margin: 0 auto; */

    /* facciamo vedere il collasso dei margini verticali */
    margin-bottom: 30px;
}

.cerchio {
    width: 300px;
    height: 300px;
    background-color: blue;
    /* facciamo vedere che con il border radius si possono fare i cerchi */
    border-radius: 50%;

    /* facciamo vedere il collasso dei margini verticali */
    margin-top: 20px;
}

.quadrato {
    width: 300px;
    height: 300px;
    background-color: green;

    /* facciamo vedere che il padding si somma alle dimensioni */
    padding: 50px;

    /* facciamo vedere che cambiando bo-sizing il padding non aumenta le dimensioni del blocco */
    box-sizing: border-box;
}
